<app-banner></app-banner>
<app-breadcrumbs [items]="['Home', 'Frequently Asked Questions']" ></app-breadcrumbs>
<section>
  <div class="content">
    <h1 class="contentTitle">Find what you're looking for?</h1>
    <div id="helpGrid">
      <div>
        <a>How to bid?</a>
        <a>How to sell?</a>
      </div>
      <div>
        <a>How to buy?</a>
        <a>How to register?</a>
      </div>
      <div>
        <a>How to ask a question?</a>
        <a>What is a watchlist?</a>
      </div>
      <div>
        <a>How to use a watchlist?</a>
      </div>
    </div>
    <div class="auctionActionbtns">
      <button class="button">I search <span class="glyphicon glyphicon-menu-right"></span></button>
    </div>

  <div id="QA">
    <div class="question" id="howtobid">
      <div class="questionWrap blue">
        <div class="left">Q</div><div class="right"><h2>How to bid?</h2> </div>
      </div>
      <div class="questionWrap">
        <div class="left">A</div><div class="right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco laboris nisi ut aliquip ex ea <a>commodo consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
        </p>
      </div>
      </div>
    </div>
    <div class="question" id="howtosell">
      <div class="questionWrap blue">
        <div class="left">Q</div><div class="right"><h2>How to sell?</h2> </div>
      </div>
      <div class="questionWrap">
        <div class="left">A</div><div class="right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco laboris nisi ut aliquip ex ea <a>commodo consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
        </p>
      </div>
      </div>
    </div>
    <div class="question" id="howtobuy">
      <div class="questionWrap blue">
        <div class="left">Q</div><div class="right"><h2>How to buy?</h2> </div>
      </div>
      <div class="questionWrap">
        <div class="left">A</div><div class="right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco laboris nisi ut aliquip ex ea <a>commodo consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
        </p>
      </div>
      </div>
    </div>
    <div class="question" id="howtoregister">
      <div class="questionWrap blue">
        <div class="left">Q</div><div class="right"><h2>How to register?</h2> </div>
      </div>
      <div class="questionWrap">
        <div class="left">A</div><div class="right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco laboris nisi ut aliquip ex ea <a>commodo consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
        </p>
      </div>
      </div>
    </div>
    <div class="question" id="howtoask">
      <div class="questionWrap blue">
        <div class="left">Q</div><div class="right"><h2>How to ask a question?</h2> </div>
      </div>
      <div class="questionWrap">
        <div class="left">A</div><div class="right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco laboris nisi ut aliquip ex ea <a>commodo consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
        </p>
      </div>
      </div>
    </div>
    <div class="question" id="whatiswatchlist">
      <div class="questionWrap blue">
        <div class="left">Q</div><div class="right"><h2>What is a watchlist?</h2> </div>
      </div>
      <div class="questionWrap">
        <div class="left">A</div><div class="right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco laboris nisi ut aliquip ex ea <a>commodo consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
        </p>
      </div>
      </div>
    </div>
    <div class="question" id="usewatchlist">
      <div class="questionWrap blue">
        <div class="left">Q</div><div class="right"><h2>How to use a wachlist?</h2> </div>
      </div>
      <div class="questionWrap">
        <div class="left">A</div><div class="right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco laboris nisi ut aliquip ex ea <a>commodo consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
        </p>
      </div>
      </div>
    </div>
  </div>
  </div>
</section>