<section class="bannerSection">
<div class="bannerWrap">
  <img title="site banner record player" src="../../assets/images/banner.jpg" alt="record player banner">
  <div class="textblockWrap">
    <div class="textblock">
    <h1>Lorums Ipsum</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. magnis dis parturient montes, nascetur ridiculus mus..
      </p>
      <div class="priceWrap">
        <span>Price: <span class="price">€ 299,99</span></span>
      </div>
      <div class="ctaWrap">
        <button type="button" class="ctabtn">Visit auction <span class="glyphicon glyphicon-menu-right"></span></button>
      </div>
    </div>
  </div>

</div>
</section>
