<section class="caroussel">
    <app-carousel></app-carousel>
</section>
<section class="howitworks">
<div class="content">
    <h1>How does it work</h1>
    <div class="steps">
        <div class="step">
            <img title="pencil image" src="../../assets/images/pencil.png" alt="pencil">
            <h2>Sign up</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
            </p>
        </div>
        <div class="step">
            <img title="checkmark image" src="../../assets/images/check.png" alt="checkmark">
            <h2>Make deals</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
            </p>
        </div>
        <div class="step">
            <img title="smily image" src="../../assets/images/smiley.png" alt="smiley">
            <h2>Everyone happy!</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
            </p>
        </div>
    </div>
</div>
</section>
<section class="mostpopular {{mostPopular}}">
    <div class="content">
        <h1 (click)="toggleMostPopular()">Most popular this week<span class="titleicon glyphicon glyphicon-menu-right"></span></h1>
        <div class="images">
            <div class="art_image">
                <img title="art stamps image" src="../../assets/images/art/stamps.jpg" alt="art stamps">
            </div>
            <div class="art_image">
                <img  title="art clock image"src="../../assets/images/art/clock.jpg" alt="clock">
            </div>
            <div class="art_image">
                <img title="art woman image"  src="../../assets/images/art/woman.jpg" alt="woman painting">
            </div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
    </div>
</section>
