@import "../../variables";
.filter{

  margin-bottom: 25px;
  font-size: 14px;
  ul {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    li{
      position:relative;
      display:block;
      &:after{
          content : "";
          position: absolute;
          right: 0;
        top:50%;
        transform: translateY(-50%);
          width  : 1px;
          height   : 15px;
          border-right:1px solid $grey;
      }
      &:last-child{
          &:after{
            border-right: 0;
          }

      }
      &:first-child{
        a{
          margin-left: 0px;
        }
      }
      a{

        color:$text-color;
        display:block;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-right:5px;
        margin-left:5px;
        line-height: 1;
        &.selected{
          font-weight: 700;
          border-bottom: 2px solid $grey_light;
        }
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
@media all and (max-width: 840px) {
  .filter{
    margin-left: 0px;
  }
}